<mat-card class="mat-elevation-z8" class="main-card" cdkScrollable class="scrollable-list">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <button (click)="addClicked.emit()" mat-flat-button color="primary">Nowy</button>
  </mat-card-header>

  <table mat-table [dataSource]="killersTable" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="pseudonym">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pseudonim</th>
      <td mat-cell *matCellDef="let element"> {{element.pseudonym}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stawka</th>
      <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" style="width: fit-content;">
      <th mat-header-cell *matHeaderCellDef> Akcje </th>
      <td mat-cell *matCellDef="let element">
        <span class="row-buttons">
          <button mat-storked-button title="Zleć">
            <mat-icon>gps_fixed</mat-icon>
          </button>
          <button  mat-storked-button title="Pokaż na mapie" (click)="itemLocationClicked(element)">
            <mat-icon>place</mat-icon>
          </button>
          <button mat-storked-button title="Edytuj">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-storked-button title="Usuń">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
        </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
