mat-card {
  width: 95%;
  height: 100%;
}

mat-card-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

mat-list-item {
  margin-bottom: 4em;
}

.main-card {
  margin: 0.5em;
}

.item-title{
  white-space: nowrap;
}

.row-buttons {
  width: 100%;
}

.row-buttons > button {
  float: right;
}

.scrollable-list {
  overflow: scroll;
}

table {
  width: 100%;
}
