mat-card {
  width: 95%;
  height: 100%;
}

mat-list-item {
  margin-bottom: 4em;
}

.main-card {
  margin: 0.5em;
}

.item-title{
  white-space: nowrap;
}

.row-buttons {
  width: 100%;
}

.row-buttons > button {
  float: right;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
  --scrollbar-thumb-hover-color: dodgerblue;
  --scrollbar-border-radius: 4px;
}
