<mat-toolbar color="primary">
  <span>Dashboard</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>{{userName}}</span>
  <button mat-button (click)="logOut()">Wyloguj</button>
</mat-toolbar>
<div>
  <button *ngIf="!isEditing; else editing" mat-stroked-button color="primary" (click)="startEditing()">Edytuj</button>
  <ng-template #editing>
    <!--    <form>-->
    <span>
        <button mat-stroked-button color="primary" (click)="saveEditing()">Zatwierdź</button>
        <button mat-stroked-button color="primary" (click)="cancelEditing()">Anuluj</button>
      </span>
    <section class="checkbox-container">
      <mat-checkbox *ngFor="let widgetOption of widgetOptions" [checked]="widgetOption.checked"
                    (change)="changeChecked(widgetOption, $event)">{{widgetOption.title}}</mat-checkbox>
    </section>
    <!--    </form>-->
  </ng-template>
</div>
<ngx-widget-grid [rows]="100" [columns]="100" [showGrid]="true">
  <span *ngFor="let widget of widgets">
  <ngx-widget *ngIf="isWidgetVisible(widget)" [(position)]="widget.position" [movable]="isEditing" [resizable]="isEditing">
    <!-- TODO: make components for each widget (maybe one component for ) -->
    <app-list (itemSelected)="locationChanged($event, 'Debtor')" (addClicked) = "addPerson('Debtor')" *ngIf="widget.type == 0" [title]="widget.options.title" [items]="debtorsItems" actionTile="Wybacz" actionIcon = "favorite">
    </app-list>
    <app-list (itemSelected)="locationChanged($event, 'Killer')" (addClicked) = "addPerson('Killer')" *ngIf="widget.type == 1" [title]="widget.options.title" [items]="killersItems" actionTile="Zleć" actionIcon="gps_fixed">
    </app-list>
    <app-map *ngIf="widget.type == 2" [selectedPerson]="selectedOnMap" [title]="widget.options.title" [debtors]="debtors" [killers]="killers"></app-map>
  </ngx-widget>
    </span>
</ngx-widget-grid>
