<h1>Dane zabójcy</h1>
<div mat-dialog-content>
  <div>
  <mat-form-field>
    <mat-label>Pseudonim</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Stawka</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Lokalizacja</mat-label>
    <input matInput readonly>
  </mat-form-field>
</div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Anuluj</button>
    <button mat-button cdkFocusInitial>Ok</button>
  </div>
</div>
